*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo_header {
    width: 70px;
    margin-right: 72px;
    height: auto;
    transition: transform 2s;
}

.logo_header:hover {
    transform: rotate(360deg);
}

.container{
    display: flex;
    flex-direction: column;
}

.sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

nav{
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: rgb(0, 37, 255);
}

ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

li a {
    color: white;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

li a:hover{
    color: rgba(255, 255, 255, 0.555);
}

nav button {
    margin-left: auto;
    padding: 4px 24px;
    border: 1px solid white;
    border-radius: 32px;
    background-color: rgb(0, 37, 255);
    color: white;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
}

nav button:hover{
    background-color: white;
    color: rgb(0, 37, 255);
}

.vid1 {
    width: 100%;
    height: fit-content;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    background-color: black;
    color: white;
}

section h1{
    font-size: 72px;
}

section h2{
    font-size: 48px;
}

section button {
    background-color: rgb(0, 37, 255);
    font-size: 36px;
    padding: 16px 36px;
    border: none;
    color: white;
    font-weight: 700;
    margin-top: 36px;
    cursor: pointer;
}

.black{
    text-align: center;
    background-color: black;
    color: rgb(0, 37, 255);
    font-size: 36px;
    font-weight: 700;
    padding: 8px 0;
}

footer {
    background-color: black;
    padding: 24px;
    height: fit-content;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 50px;
}

/*A partir daqui é o ver_produtos.html*/
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    padding: 50px;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: black;
    font-size: 4rem;
    line-height: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.content .textBox h2 span{
    font-size: 2rem;
    color: #0e0e33;
}

.content .textBox p {
    font-size: larger;
    color: black;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #0062be;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: flex-end;
}

.content .imgBox .img{
    max-width: 260px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img{
    max-width: 40px;
}

.pepsimaximg {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
}

/*A partir daqui é o pepsi125*/
.linha_do_tempo {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
    transition: 0.5s;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
    max-height: 500px;
    overflow-y: auto;
    transition: 0.5s;
}

.timeline__historia {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #0077cc; /* Adicionando borda azul */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.timeline__historia strong {
    color: #0077cc;
}

.timeline__historia:last-child {
    margin-bottom: 0;
}

.logos__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos__pepsi {
    width: 300px;
    margin-right: 50px;
    height: auto;
    transition: 0.5s;
    cursor: pointer;
}

.logos__pepsi.expandida {
    width: 600px;
}

/*A partir daqui é o contatar*/

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.perfil img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.perfil__inicio h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.perfil__inicio h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.perfil__inicio p {
    font-size: 16px;
    margin-bottom: 20px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.social img {
    width: 40px;
    height: auto;
}
